# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
# Packaging builds
/build/
/dist/
/lib/
/lib64/
!implementation/**
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# macOS
.DS_Store

# Temporary journal storage
/tmp/.ansible_journal*
